---
import "@/styles/global.css";
import { LightweightChart } from "@/components/LightweightChart";
const title = "Welcome to Astro!";
const mockData = [
  { time: "2024-03-18", value: 43.51 },
  { time: "2024-03-19", value: 44.12 },
  { time: "2024-03-20", value: 43.98 },
];
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p class="text-amber-500">This is an Astro project initialized manually.</p>
    <div>
      <LightweightChart data={mockData} width={600} height={300} client:load />
    </div>
  </body>
</html>
