---
import "@/styles/global.css";
const title = "Welcome to Astro!";
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p class="text-amber-500">This is an Astro project initialized manually.</p>
  </body>
</html>
